<p>multiplication works!</p>
<section id="arithmetice">
    <div class="container">
        <div class="row">
            <div class="col-md-6 addition">
                <h2>multiplication</h2>
                <label>Number 1</label><br>
                <input type="text" name="number" id="number1"><br><br>
                <label>Number 2</label><br>
                <input type="text" name="number" id="number2"><br><br>
                <input type="submit" value="multiplication" name="addition" id="addtion">
            </div>
        </div>
    </div>

</section>
